body {
    font-family: 'Inter', 'Merriweather';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header style */
.header {
    background-image: linear-gradient(to right, #070211 0%, #07021100 100%), url('../Images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 12px;
    margin-top: 20px;

}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}

.banner p,
h2 {
    /* align-items: center; */
    color: #fff;
    text-align: center;
}

.banner p {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;

}

.banner h2 {
    font-size: 72px;
    font-weight: 700;
}


/* Section 1 Style */
.section1 {
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 100px;
    /* margin: 100px 405px 100px 380px;
    align-items: center;
    margin-top: 100px; */
}

.discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-year-image {
    margin-top: 50px;
    height: 500px;
    width: 800px;
}

.new-year-image img {
    width: 100%;
    height: 100%;
}

#off {
    color: #F00;
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 45px;
    text-align: center;
}


#deal {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;

}

#categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/* section 2 style */

.section2 {
    background-image: linear-gradient(to right, #070211 0%, #07021100 100%), url('../Images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 600px;
    width: 1320px;
    margin: 0 auto;
    border-radius: 12px;
    /* margin-left: 100px; */
    margin-top: 120px;
    /* margin-bottom: 120px; */
}

.section2-part1 {
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-part1 h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    padding: 125px 90px 0px 50px;
}

.section2-part1 p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 35px 0px 126px;
}

#midnight-button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 45px 500px 150px 150px;
}

.section2-part2 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* section 3 */

.section3 {
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.section3-part1 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.DTP {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
}

.section3-part1 p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}

.section3-part2 {
    margin-top: 50px;
}

.primary-btn {
    border: 0;
    height: 55px;
    width: 165px;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

/* section 4 */

.section4 {
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
}

.column1 {
    width: 30%;
    margin: auto;
    margin-left: 0px;
}

.column2 {
    width: 40%;
    background-image: url('../Images/Ellipse\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 450px;
    border-radius: 450px;
    border: 15px #F00 solid;
}

.column3 {
    width: 30%;
    margin: auto;
    margin-left: 80px;
    margin-bottom: 0px;
}

.section4 .column1 h2 {
    margin-top: 15px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 0px;
    text-align: left;
}

.section4 .column1 h3 {
    color: #f00;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
}

.section4 .column3 h2 {
    color: #f00;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 0px;
    text-align: left;
}

.section4 p {
    margin-top: 20px;
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

/* section 5 style */

.section5 {
    /* background-image: url('../Images/Rectangle\ 2.png'), url('../Images/Rectangle\ 1.png');
    background-repeat: no-repeat; */
    width: 1320px;
    height: 985px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    background-position: bottom left, right;
    position: relative;
}

.section5-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
    /* text-align: center;
    line-height: 20px;
    padding: 0px 125px 65px 125px; */
}

.section5-part1 h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}



.section5-part1 h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

#holiday {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.section5-part1 p {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 64px;
}


.section5-part2 {
    width: 1320px;
    height: 228px;
    background-color: red;
    position: absolute;
    top: 76.8%;
}

.gift-box {
    width: 675x;
    height: 578px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.girl-container {
    width: 430px;
    height: 450px;
}

.section5-discount {
    position: absolute;
    top: 35%;
    left: 55%;
    z-index: 1;
}

.section5-discount img {
    width: 300px;
    height: 300px;
}

/* section 6 style */

.section6 {
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
}

.section6-part1 h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.section6-part1 h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 24px;
}

.section6-part1 p {
    margin-top: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 56px;
    max-width: 890px;
}

.section6-part2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
}

/* section 7 style */
.section7 {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    margin: 0 auto;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.section7-part2 h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section7-part2 p {
    max-width: 890px;
    color: #07021199;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}



.section7-part3 input {
    width: 430px;
    height: 70px;

    border: none;
    border-radius: 50px 0px 0px 50px;
    padding-right: 0px;

    color: rgba(7, 2, 17, 0.30);

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}

.section7-part3 button {
    width: 210px;
    height: 72px;

    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding-left: 0px;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

/* footer style */

.footer {
    max-width: 1600px;
    height: 609px;
    margin-top: 120px;
    background-color: #070211;
}

.footer-part1 {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 120px 0px 48px 0px;
}


.address {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    max-width: 300px;
}

.phone-webpage {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    line-height: 0px;
    font-weight: 300px;
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-part2 {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin-left: 600px;
    padding: 30px 0px 30px 0px; */
}

.footer-part2 a {
    margin-right: 25px;
}

hr {
    width: 90%;
    margin: 0 auto;
}

.icons {
    display: inline;
    height: 64px;
    width: 64px;
}

.footer-part3 {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    color: #FFF;
    padding: 48px 0px 0px 0px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
}