body {
    font-family: 'Inter', 'Merriweather';
}


/* Header style */
.header {
    background-image: linear-gradient(to right, #070211 0%, #07021100 100%), url('../Images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 1320px;
    border-radius: 12px;
    margin-top: 45px;
    margin-left: 100px;
    margin-bottom: 0px;
}

.banner {
    /* align-items: center; */
    color: #fff;
    text-align: center;
    padding: 150px 450px 20px 450px;
}


/* Section 1 Style */
.section1 {
    margin: 100px 405px 100px 380px;
    align-items: center;
    margin-top: 100px;
}

.discount {
    padding: 0px 100px 40px 160px;
    max-width: 420px;
}

.new-year-image {
    margin-top: 50px;
    height: 500px;
    width: 800px;
}

#off {
    color: #F00;
    font-family: Inter;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}


#deal {
    margin-top: 0px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;

}

#categories {
    margin-top: 0px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}

/* section 2 style */

.section2 {
    background-image: linear-gradient(to right, #070211 0%, #07021100 100%), url('../Images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 600px;
    width: 1320px;
    border-radius: 12px;
    margin-left: 100px;
    margin-bottom: 120px;
}

.section2-part1 h1 {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    /* line-height: 88px; */
    /* 137.5% */
    letter-spacing: 7px;
    padding: 126px 90px 0px 126px;
    margin-bottom: 20px;
}

.section2-part1 p {
    margin-top: 0px;
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 30px; */
    /* 166.667% */
    padding: 0px 90px 0px 126px;
    margin-bottom: 45px;
}

.section2-part1 li {
    margin-top: 0px;
    list-style: none;
    padding: 0px 600px 150px 150px;
}

.section2-part1 li a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 620;
}

.section2-part2 {
    padding: 65px 135px 68px 0px;
}

/* section 3 */

.section3 {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-left: 100px;
    width: 1320px;
    height: 482px;

}

.date-time-place {
    text-align: center;
    padding: 100px 385px 0px 385px;
}

.DTP {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.location {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 50px;
}

.primary-btn {
    border: 0;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 576px 110px 576px
}

/* section 4 */

.section4 {
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 140px;
    width: 1320px;
    height: 482px;
    display: flex;
}

.column1 {
    margin: auto;
    max-width: 350px;
}

.column2 {
    background-image: url('../Images/Ellipse\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 450px;
    border-radius: 450px;
    border: 15px #F00 solid;
    margin: auto;
}

.column3 {
    margin: auto;
    max-width: 250px;
}

.section4-h2 {
    margin-top: 15px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.section4-p {
    margin-top: 20px;
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

/* section 5 style */

.section5 {
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 140px;
    background-image: url('../Images/Rectangle\ 2.png'),url('../Images/Rectangle\ 1.png');
    /* ,url('../Images/Rectangle\ 1.png') */
    background-repeat: no-repeat;
    width: 1320px;
    height: 990px;
    background-position: bottom, right;
}

.section5-part1 h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0px;
}

.section5-part1 h1 {
    margin-top: 0px;
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 25px;
}

.section5-part1 p {
    margin-top: 0px;
    color: #07021199;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 65px;
}

/* section 6 style */

.section6 {
    width: 1320px;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 140px;
}

.section6-part1 h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.section6-part1 h2 {
    margin-top: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section6-part1 p {
    margin-top: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    max-width: 890px;
}

/* section 7 style */
.section7 {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 140px;
    width: 1320px;
    height: 620px;
}

.section7-part1 {
    padding: 50px 585px 0px 585px;
}

.section7-part2 {
    padding: 0px 212px 40px 212px;
}

.section7-part3 {
    padding: 0px 336px 80px 336px;
}

.section7-part2 h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section7-part2 p {
    max-width: 890px;
    color: #07021199;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    /* line-height: 32px; */
    /* 160% */
}



.section7-part3 input {
    width: 430px;
    height: 70px;

    border: none;
    border-radius: 50px 0px 0px 50px;
    padding-right: 0px;
    /* background: #F00; */

    color: rgba(7, 2, 17, 0.30);

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}

.section7-part3 button {
    width: 210px;
    height: 72px;

    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding-left: 0px;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

/* footer style */

.footer {
    margin-top: 120px;
    background: #070211;
    width: 1500px;
    height: 610px;
}

.footer-part1 {
    display: flex;
    gap: 600px;
    padding: 120px 275px 25px 120px;
}

.address {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    max-width: 300px;
}

.phone-webpage {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    line-height: 0px;
    font-weight: 300px;
}

.footer-part2 {
    margin-left: 600px;
    padding: 30px 0px 30px 0px;
}

.footer-part2 a {
    margin-right: 25px;
}

hr {
    margin-left: 50px;
    margin-right: 50px;
}

.icons {
    display: inline;
    height: 64px;
    width: 64px;
}

.footer-part3 {
    display: flex;
    gap: 850px;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    padding: 25px 100px 125px 120px;
}